#-- Don't Touch, read docs
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set sv_enforceGameBuild 3570

#-- Edit this, key, nameserver, slots...
sv_hostname "TEST"
sets sv_projectName "TEST"
sets sv_projectDesc "TEST"
sets tags "TEST"
sets locale "en-US"
set gametype "ROLEPLAY"
set maptype "TEST"

load_server_icon logo.png

set onesync on

ensure [cfx-default]
ensure [debug]
ensure fivem-appearance
ensure main

ensure [assets]

sv_maxclients 10
sv_licenseKey "[[SERVER_LICENSE_KEY]]"          # "Required" add fivem key https://keymaster.fivem.net/
